
h1, h2, h3 {
    color: #ffffff;
    font-weight: 700;
    line-height: 160%;
}

p {
    font-weight: 500;
    line-height: 160%;
}


pre.astro-code {
    padding: 1rem 1rem;
    background-color: rgb(24,24,27) !important;
    border-radius: 0.5rem;
    font-family: "Commitmono", monospace;
}

pre.astro-code code {
    font-family: "Commitmono", monospace;
    line-height: 175%;
}

a {
    font-weight: 500;
    color: #fff;
    line-height: 160%;
}

img {
  width: 100%;
  height: auto;
}