---
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
---

<style is:global>
    nav > ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
</style>

<nav>
    <ul>
        {
            allPosts.map((post) => (
                <li>
                    <a href={`/${post.slug}`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</nav>
